<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toufaqian_an1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,700},{174,161}}</string>
                <key>offset</key>
                <string>{-28,534}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,95},{174,161}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_biaoge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,182},{216,195}}</string>
                <key>offset</key>
                <string>{-21,523}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,89},{216,195}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_fanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{332,533}}</string>
                <key>offset</key>
                <string>{-107,370}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,73},{332,533}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_fanzi2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,659},{260,269}}</string>
                <key>offset</key>
                <string>{-31,535}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,40},{260,269}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_fanzi2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,269},{178,239}}</string>
                <key>offset</key>
                <string>{-59,520}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,70},{178,239}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_huangbaba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1106},{250,215}}</string>
                <key>offset</key>
                <string>{-34,512}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,90},{250,215}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_jiguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{178,217}}</string>
                <key>offset</key>
                <string>{-30,512}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,89},{178,217}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_jiguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2},{238,227}}</string>
                <key>offset</key>
                <string>{-57,520}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,76},{238,227}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,463},{186,371}}</string>
                <key>offset</key>
                <string>{-24,427}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,97},{186,371}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{184,371}}</string>
                <key>offset</key>
                <string>{-27,428}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,96},{184,371}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,728},{182,307}}</string>
                <key>offset</key>
                <string>{-29,460}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,96},{182,307}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,350},{182,307}}</string>
                <key>offset</key>
                <string>{-29,460}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,96},{182,307}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno10.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{346,247}}</string>
                <key>offset</key>
                <string>{-42,485}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,101},{346,247}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,584},{178,193}}</string>
                <key>offset</key>
                <string>{-34,511}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,102},{178,193}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,375},{120,351}}</string>
                <key>offset</key>
                <string>{-149,417}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,117},{120,351}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1439},{124,303}}</string>
                <key>offset</key>
                <string>{82,426}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{520,132},{124,303}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,930},{190,175}}</string>
                <key>offset</key>
                <string>{-27,521}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,101},{190,175}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1108},{134,329}}</string>
                <key>offset</key>
                <string>{68,445}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,100},{134,329}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,242},{224,203}}</string>
                <key>offset</key>
                <string>{-42,510}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,98},{224,203}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1570},{206,405}}</string>
                <key>offset</key>
                <string>{-19,405}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,102},{206,405}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,764},{174,173}}</string>
                <key>offset</key>
                <string>{-26,523}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,100},{174,173}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,761},{180,171}}</string>
                <key>offset</key>
                <string>{-33,523}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,101},{180,171}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{208,223}}</string>
                <key>offset</key>
                <string>{-49,507}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,91},{208,223}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_leno9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,473},{224,225}}</string>
                <key>offset</key>
                <string>{-45,546}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,51},{224,225}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_luqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,242},{186,229}}</string>
                <key>offset</key>
                <string>{-30,504}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,91},{186,229}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_meilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1565},{178,265}}</string>
                <key>offset</key>
                <string>{-30,478}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,99},{178,265}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,459}}</string>
                <key>offset</key>
                <string>{-32,388}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,92},{186,459}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1369},{250,219}}</string>
                <key>offset</key>
                <string>{-36,507}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,93},{250,219}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,930},{174,255}}</string>
                <key>offset</key>
                <string>{-30,526}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,56},{174,255}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,572},{200,187}}</string>
                <key>offset</key>
                <string>{-19,524}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,92},{200,187}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{194,283}}</string>
                <key>offset</key>
                <string>{-22,476}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,92},{194,283}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{192,265}}</string>
                <key>offset</key>
                <string>{-22,486}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,91},{192,265}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1430},{192,263}}</string>
                <key>offset</key>
                <string>{-21,485}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,93},{192,263}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu8-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,554},{198,241}}</string>
                <key>offset</key>
                <string>{-35,503}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,86},{198,241}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_ningzhu8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,468},{182,153}}</string>
                <key>offset</key>
                <string>{-42,538}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,95},{182,153}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,380},{202,209}}</string>
                <key>offset</key>
                <string>{-21,515}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,90},{202,209}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,379},{210,191}}</string>
                <key>offset</key>
                <string>{-27,529}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,85},{210,191}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1570},{204,389}}</string>
                <key>offset</key>
                <string>{-21,423}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,92},{204,389}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{458,439}}</string>
                <key>offset</key>
                <string>{-24,396}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,94},{458,439}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,836},{270,255}}</string>
                <key>offset</key>
                <string>{-34,491}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,91},{270,255}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,571}}</string>
                <key>offset</key>
                <string>{-29,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,100},{186,571}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1107},{260,253}}</string>
                <key>offset</key>
                <string>{-47,486}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,97},{260,253}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,287},{216,265}}</string>
                <key>offset</key>
                <string>{-30,480}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,97},{216,265}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{186,435}}</string>
                <key>offset</key>
                <string>{-25,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,96},{186,435}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1832},{212,233}}</string>
                <key>offset</key>
                <string>{-9,503}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,90},{212,233}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,797},{238,221}}</string>
                <key>offset</key>
                <string>{-36,505}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,94},{238,221}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_qingmu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1108},{320,279}}</string>
                <key>offset</key>
                <string>{-32,489}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,81},{320,279}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_shasha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,219},{182,159}}</string>
                <key>offset</key>
                <string>{-17,527}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,103},{182,159}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_sw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1695},{254,207}}</string>
                <key>offset</key>
                <string>{-36,518}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,88},{254,207}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufaqian_wanjie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,2},{182,215}}</string>
                <key>offset</key>
                <string>{-33,506}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,96},{182,215}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toufaqian_88880.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15cdf20b5d821b8b6b1479a693e5f554:a88427d37b90f59c445cbe863fd7f86c:251bfe01b91186b3b21d24eff200b08f$</string>
            <key>textureFileName</key>
            <string>toufaqian_88880.pvr.ccz</string>
        </dict>
    </dict>
</plist>
