<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangzhuang_fanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1692},{384,351}}</string>
                <key>offset</key>
                <string>{-31,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,281},{384,351}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_fanzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,715},{310,481}}</string>
                <key>offset</key>
                <string>{-26,174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,295},{310,481}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_jiguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1336},{354,399}}</string>
                <key>offset</key>
                <string>{-21,233}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,277},{354,399}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,484},{264,207}}</string>
                <key>offset</key>
                <string>{-31,298}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,308},{264,207}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno11.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1651},{394,295}}</string>
                <key>offset</key>
                <string>{-27,261}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,301},{394,295}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1047},{390,287}}</string>
                <key>offset</key>
                <string>{-27,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,305},{390,287}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{238,255}}</string>
                <key>offset</key>
                <string>{-33,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,302},{238,255}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1788},{238,255}}</string>
                <key>offset</key>
                <string>{-33,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,302},{238,255}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_leno9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,692},{422,265}}</string>
                <key>offset</key>
                <string>{-25,224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,353},{422,265}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{424,331}}</string>
                <key>offset</key>
                <string>{-23,247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,297},{424,331}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,428},{232,261}}</string>
                <key>offset</key>
                <string>{-29,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,313},{232,261}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{422,531}}</string>
                <key>offset</key>
                <string>{-27,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,297},{422,531}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,535},{178,323}}</string>
                <key>offset</key>
                <string>{-7,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,311},{178,323}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1651},{394,321}}</string>
                <key>offset</key>
                <string>{-24,246}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,303},{394,321}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,535},{208,159}}</string>
                <key>offset</key>
                <string>{-31,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,318},{208,159}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_limao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,323},{366,323}}</string>
                <key>offset</key>
                <string>{-27,257}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,291},{366,323}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_loliku1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1198},{418,451}}</string>
                <key>offset</key>
                <string>{-29,221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,263},{418,451}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_meilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,696},{426,329}}</string>
                <key>offset</key>
                <string>{-15,269}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,276},{426,329}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_ningzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,711}}</string>
                <key>offset</key>
                <string>{-38,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,254},{376,711}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_ningzhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,750},{390,295}}</string>
                <key>offset</key>
                <string>{-25,267}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,295},{390,295}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_ningzhu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,691},{402,343}}</string>
                <key>offset</key>
                <string>{-27,225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,313},{402,343}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{422,527}}</string>
                <key>offset</key>
                <string>{-30,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,255},{422,527}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,464},{226,329}}</string>
                <key>offset</key>
                <string>{-32,262}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,283},{226,329}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1124},{422,323}}</string>
                <key>offset</key>
                <string>{-25,270}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,278},{422,323}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,323},{208,159}}</string>
                <key>offset</key>
                <string>{-33,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,310},{208,159}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{396,319}}</string>
                <key>offset</key>
                <string>{-27,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,267},{396,319}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_qingmu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{542,391}}</string>
                <key>offset</key>
                <string>{-21,230}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,284},{542,391}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_sw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1692},{290,197}}</string>
                <key>offset</key>
                <string>{-21,332}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,279},{290,197}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_sw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1116},{370,419}}</string>
                <key>offset</key>
                <string>{-25,226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,274},{370,419}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_sw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1548},{420,351}}</string>
                <key>offset</key>
                <string>{-28,228}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,306},{420,351}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>shangzhuang_wanjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{460,373}}</string>
                <key>offset</key>
                <string>{-30,228}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,295},{460,373}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangzhuang0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecc401fb89bd65a4bf9661e95156b9e:b56c94ee4a57dc38ba0e0806c14f5161:e73578bffab8bdef31610f9d653c4b51$</string>
            <key>textureFileName</key>
            <string>shangzhuang0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
