<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toufahou_jiguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{198,219}}</string>
                <key>offset</key>
                <string>{-50,511}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,89},{198,219}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_ningzhu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,479}}</string>
                <key>offset</key>
                <string>{-62,355}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,115},{312,479}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toufahou1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225bc7d790dcbe1a794c80b048c2e5a3:c51467719df2c78c141679e28ed26ea8:0bbde3257828717398188bec8813025e$</string>
            <key>textureFileName</key>
            <string>toufahou1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
