<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toufahou_an1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{442,493}}</string>
                <key>offset</key>
                <string>{-52,368}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,95},{442,493}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_biaoge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1386},{84,175}}</string>
                <key>offset</key>
                <string>{-118,468}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,154},{84,175}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_fanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2},{120,461}}</string>
                <key>offset</key>
                <string>{-108,390}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,89},{120,461}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_jiguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{322,367}}</string>
                <key>offset</key>
                <string>{-61,450}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,76},{322,367}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_leno1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,124},{418,451}}</string>
                <key>offset</key>
                <string>{-15,393}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,91},{418,451}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_leno2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{516,589}}</string>
                <key>offset</key>
                <string>{-14,311}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,104},{516,589}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_leno3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,797}}</string>
                <key>offset</key>
                <string>{-8,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,119},{736,797}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_luqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{708,721}}</string>
                <key>offset</key>
                <string>{-37,258}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,91},{708,721}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_meilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,798},{108,153}}</string>
                <key>offset</key>
                <string>{-106,500}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,133},{108,153}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_ningzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1186},{314,479}}</string>
                <key>offset</key>
                <string>{-64,355}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,115},{314,479}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_ningzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,544},{422,567}}</string>
                <key>offset</key>
                <string>{-42,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,92},{422,567}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_ningzhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,446},{370,505}}</string>
                <key>offset</key>
                <string>{-68,365}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,92},{370,505}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_ningzhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1502},{370,505}}</string>
                <key>offset</key>
                <string>{-67,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,93},{370,505}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1524},{304,509}}</string>
                <key>offset</key>
                <string>{-42,351}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,104},{304,509}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,801},{364,711}}</string>
                <key>offset</key>
                <string>{-37,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,102},{364,711}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1113},{180,271}}</string>
                <key>offset</key>
                <string>{-35,481}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,93},{180,271}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,446},{350,467}}</string>
                <key>offset</key>
                <string>{-22,386}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,90},{350,467}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,953},{206,231}}</string>
                <key>offset</key>
                <string>{-27,508}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,86},{206,231}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_qingmu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1113},{290,395}}</string>
                <key>offset</key>
                <string>{-26,419}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,93},{290,395}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_shasha1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1514},{682,505}}</string>
                <key>offset</key>
                <string>{-24,353}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,104},{682,505}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>toufahou_shasha1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,371},{260,51}}</string>
                <key>offset</key>
                <string>{-32,399}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,285},{260,51}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toufahou_88880.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c45d455ec527fa9aba345c5010631bf7:c51467719df2c78c141679e28ed26ea8:f8e0ea55d368a0af17c30c65a21fef12$</string>
            <key>textureFileName</key>
            <string>toufahou_88880.pvr.ccz</string>
        </dict>
    </dict>
</plist>
