<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waitaohou_an1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,985},{94,35}}</string>
                <key>offset</key>
                <string>{-32,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,288},{94,35}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_jiguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,550},{196,191}}</string>
                <key>offset</key>
                <string>{-37,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,283},{196,191}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_jiguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{546,597}}</string>
                <key>offset</key>
                <string>{-59,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,278},{546,597}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_ningzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,713}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,251},{376,713}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_qingmu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,550},{362,235}}</string>
                <key>offset</key>
                <string>{-31,284}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,308},{362,235}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_sw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{280,323}}</string>
                <key>offset</key>
                <string>{-23,214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,334},{280,323}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
            <key>waitaohou_sw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,717},{266,203}}</string>
                <key>offset</key>
                <string>{-17,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,483},{266,203}}</string>
                <key>sourceSize</key>
                <string>{1000,1419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waitaohou0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72d8c2905daec266cbb2be03518eb1f7:7e59a9f9887068751fd8c1f856fe6d8e:25a39099dc286365fffa15980bcb550f$</string>
            <key>textureFileName</key>
            <string>waitaohou0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
